/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
.navigation a
{
    font-family: Raleway;
}
p{
    font-family: Raleway;
    color: #B9B9B9;
}
h3
{
    font-family: RoxboroughCF;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #2A2A2A;
}

/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
.navigation
{
    width: 100%;
    background-color: #E27C43;
}
.ci-bg
{
    background-color: #e27d436e;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}