/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
.navigation a
{
    font-family: Raleway;
}
p{
    font-family: Raleway;
    color: #B9B9B9;
}
h3
{
    font-family: RoxboroughCF;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #2A2A2A;
}
h1
{
    font-family: Raleway-ExtraBold;
    color: #2A2A2A;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 40px;
}

/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
#product-category
{
    padding-top: 50px;
}
#product-category h3
{
    text-align: center;
    padding: 0.5rem;
    color: #2A2A2A;
    background-color: #b9b9b94b;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}
.navigation
{
    width: 100%;
    background-color: #E27C43;
}
.ci-bg
{
    background-color: #e27d436e;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}