*
{
    scroll-behavior: smooth;
}
body
{
    background-color: rgb(151, 151, 151);
}

/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
.navigation a
{
    font-family: Raleway;
}
p
{
    font-family: Raleway;
    color: #B9B9B9;
}
h3
{
    font-family: RoxboroughCF;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #2A2A2A;
}
h1
{
    font-family: Raleway-ExtraBold;
    color: #2A2A2A;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 40px;
}
h2
{
    font-family: RoxboroughCF;
    font-weight: bolder;
    margin-top: 0.6em;
}
h5
{
    color: #2A2A2A;
    font-family: Raleway;
    font-weight: bold;
}

/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<fontsection>>>>>>>>>fontsection>>>>>>>>*/
#product-category
{
    padding-top: 50px;
    margin-bottom: 50PX;
}
#product-category h1, #specialities h1, #newcollections h1, #testimonials h1
{
    background-color: #B9B9B9;
    padding: 10px 0;
    letter-spacing: 0.1rem;
}
#product-category h3
{
    text-align: center;
    padding: 0.5rem;
    color: #2A2A2A;
    background-color: #b9b9b94b;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}
.navigation
{
    width: 100%;
    background-color: #E27C43;
}
.ci-bg
{
    background-color: #e27d436e;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}
.sp-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sp-item img
{
    max-width: 80px;
    margin-bottom: 1.5rem;
}
.sp-item p
{
    color: #4e4e4e;
}
#testimonials .titem
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#testimonials .titem p
{
    max-width: 250px;
    color: #2A2A2A;
}
#testimonials .titem h5
{
    position: absolute;
    right: 20%;
    bottom: 0;
    top: 100%;
}
#testimonials .titem img
{
    max-width: 100px;
    border-radius: 50%;
}
#bestsell
{
    margin-top: 5em;
}
#bestsell .discount
{
    max-width: 7em;
    max-height: 3em;
    margin: 0 auto;;
    background-color: #E27C43;
    border-radius: 60%;
    padding: 0.5em 1em;
    font-family: RoxboroughCF;
    font-weight: bolder;
    transform: rotate(-10deg)
}
#bestsell a
{
    text-decoration: none;
    background-color: #e27d439a;
    backdrop-filter: blur(8px);
    border-radius: 1em;
    color: #f8f8f8;
    font-family: Raleway-ExtraBold;
    padding: 0.5em 2em;
}
#form
{
    margin-top: 50px;
}
#form p
{
    text-align: center;
    color: #2A2A2A;
    max-width: 70%;

    display: block;
    margin: 2rem auto;
}
#form .form
{
    margin: 0 auto;
    background-color: #7e7e7e;
    border-radius: 0.5em;
    padding: 3em;
}
#form .form input
{
    border-color: #2a2a2a9f;
}
#form .form a
{
    max-width: 20rem;

    background-color: #E27C43;
    color: #2A2A2A;
    border-radius: 1em;

    font-family: RoxboroughCF;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;

    display: block;
    margin: 0 auto;
    padding: 0.5em 2.5em;
}
#form .sutitle
{
    text-align: center;
    color: #f8f8f8;

    margin-bottom: 2em;
    padding: none;
}
#contactus
{
    min-height: 350px;
    margin-top: 50px;
    background-image: url(images/sliderversion1.png);
    background-size: cover;
}
#contactus a
{
    max-width: 30rem;

    text-decoration: none;
    font-family: Raleway-ExtraBold;
    text-align: center;

    color: #2A2A2A;
    background-color: #e27d43c7;
    border-radius: 10px;

    padding: 0.7em 2em;
    margin: 0 auto;
    display: block;

}
#contactus h1
{
    font-family: RoxboroughCF;
    color: #b8541b;
    letter-spacing: 0.1em;
}
#contactus .cuitems
{
    padding: 5%;
    background-color: #f8f8f850;
    backdrop-filter: blur(7px);
}
#footer
{
    background-color: #6b6b6b;
    padding: 50px 0;
}
#footer .imag
{
    max-width: 50px;
    max-height: 30px;
}

footer
{
    text-align: center;
    background-color: #2A2A2A;
    padding: 0.1em 0;
    letter-spacing: 0.1em;
}
